html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calContainer {
  width: 100%;
  height: auto;
  margin: auto;
  margin-right: 20px;
}

.calNumbers {
  width: 100%;
}

.calInput {
  width: 100%;
  height: 70px;
  text-align: right;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #848592;
  font-weight: bold;
  font-size: 25px;
}

.colorW {
  background-color: #dfdfdf;
}

.colorS {
  background-color: #f68f42;
}

.calNumbers > div {
  width: 100%;
  height: 100%;
  display: flex;
}

.calNumbers > div > button {
  width: 100%;
  height: 100px;
  font-size: 25px;
  border: 1px solid #c4c4c4;
}

.calNumbers > div > div > button {
  width: 100%;
  height: 100px;
  font-size: 25px;
  border: 1px solid #c4c4c4;
}

.calNumbers > div > div {
  display: flex;
  width: 100%;
}

.cont {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contH {
  width: 70%;
}

.contH > h2 {
  margin-left: 20px;
}
